@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

*{
    box-sizing: border-box;
}
body{
    font-family:'Lato', 'sans-serif';
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */
    height: 100vh;
    width: 100%;
    overflow-x: hidden;
    margin: 0;
    position: relative;
    background-image: linear-gradient(45deg, rgb(226, 187, 226),aliceblue);
    /* background-color: rgba(154, 21, 21, 0.2); */
}

h1{
    background-image: linear-gradient(45deg, steelblue, aquamarine);
   background-size: 100%;
   -webkit-background-clip: text;
   -moz-background-clip: text;
   -webkit-text-fill-color: transparent;
   -moz-text-fill-color: transparent;
   font-size: 3rem;
   /* margin: 0; */
}

/* .form-background{
    height: 100%;
    width: 100%;
} */

.form-control{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: rgb(231, 219, 251);
    width: 100%;
    height: 100%;
    /* display: none; */
    /* opacity: 0; */
    transform: translateX(-500%);
    height: 0;
    /* padding: 0; */
    /* margin: 0; */
    /* transition: opacity 0.4s ease-in-out; */
    background-image: url('https://img.freepik.com/free-vector/big-set-hand-drawn-arrows_1017-18022.jpg?t=st=1657973691~exp=1657974291~hmac=ea0fd9140880b11f40b5e2e2754860dbf39b737396fd92236c2d3e68d620915c&w=996') ;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    transition: transform 0.5s ease;
}
.form-control::before{
    content: "";
    width: 100%;
    height: 100%;
    background-color: rgba(128, 128, 128, 0.255);
    position: absolute;
    z-index: -1;
}
.form-control.active{
    /* opacity: 1; */
    transform: translateX(0);
    /* height: 600px;
    width: 450px; */
    height: 100%;
    width: 100%;
    /* display: block; */
    position: absolute;
    z-index: 4;
    /* transform:  0.5s ease; */

    /* left: 50%; */
}

.form-background{
    background-color: #c4fff9;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.556);
    border-radius: 10px;
    width: 450px;
    height: 600px;

}

.form-title{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.field{
    display: flex;
    flex-direction: column;
    margin-top: 30px;
    width: 450px;
    padding: 10px;
    cursor: pointer;

}

.field label{
    transition:  transform 0.5s ease;
    padding: 0px 10px;
}

.field textarea{
    resize: none;
    padding: 15px 10px;
    margin-top: 10px;
    font-family: inherit;
    border: 1px solid rgba(128, 128, 128, 0.182);
    box-shadow: 0px 2px 5px rgba(156, 156, 156, 0.332);
    font-size: 1rem;
    border-radius: 10px;
}
.field:hover label{
    /* font-size: 1.2rem; */
    font-weight: bold;
    /* transform: scale(2); */
    transform: translateX(45%);

}


.btn{
    margin-top: 20px;
    width: 50%;
    height: 50px;
    font:inherit;
    border-radius: 10px;
    background-image: linear-gradient(45deg, rgb(144, 246, 246), rgb(0, 189, 247));
    font-size: 1.3rem;
    letter-spacing: 1px;
    cursor: pointer;
    border: none;
    /* color: white; */
}
.btn:hover{
    background-image: linear-gradient(45deg, rgba(0, 255, 255, 0.697), rgba(0, 189, 247, 0.651));
}
.btn:active{
    transform: scale(0.98);
}

.field textarea,
.btn:focus{
    outline: none;
}
.add-card{
    width: 220px;
    /* align-self: center; */
}

.cross{
    background-image: linear-gradient(45deg, rgb(246, 168, 144), rgb(218, 247, 0));
    position: absolute;
    right:-97%;
    top:-93%;
    width: 50px;
    height: 50px;
}
.cross:hover{
    background-image: linear-gradient(45deg, rgba(243, 134, 101, 0.477), rgba(230, 255, 38, 0.98));

}


.memory-cards,.memory-card,.buttons-control,.form-background{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* margin-top: 80px; */
    /* transform: translateY(25%); */
}
.memory-cards{
    margin-top:80px;
    position: relative;
    /* justify-content: flex-end; */

    /* display: none; */
    
}

.memory-card{
    width: 450px;
    height: 300px;
    /* background-color; */
    background-image: linear-gradient(45deg, rgb(133, 195, 248), azure);
    /* border: 1px solid black; */
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.432);
    border-radius: 10px;
    position: relative;
    font-size: 1.3rem;
    cursor: pointer;
    transform-style: preserve-3d;
    transition: transform 0.25s ease;
    position: absolute;
    top:50px;
    /* opacity: 0; */
    transform:translateX(400%);
    transition:transform 0.5s ease;
}

.memory-card.active{
    /* opacity: 1; */
    transform: translateX(0);
}

.memory-card.flipped{
    transform-origin: center center;
    transform: rotateX(-180deg);
    /* text-transform: ; */
}

.card.inactive{
    display: none;
}

.flip{
    position: absolute;
    top: 10px;
    left: 85%;
    color: rgba(128, 128, 128, 0.598);
    cursor: pointer;
}

.buttons-control{
    margin-top: 20px;
    width: 100px;
    flex-direction: row;
    justify-content: space-between;
    position: absolute;
    top: 350px;
    /* transform:translateX(-10%) */
    /* align-self: flex-end; */
    /* display: none; */
}
/* .buttons-control{
    display: block;
} */

.buttons-control span i{
    cursor: pointer;
}

.trash{
    position: absolute;
    left: 5%;
    bottom: 5%;
    width: 150px;
    background-image: linear-gradient(45deg,rgb(123, 251, 251), aliceblue);
    font-size: 0.9rem;
}
.trash:hover{
    background-image: linear-gradient(45deg,rgb(123, 251, 251), rgb(206, 232, 255));

}

.add-new-card{
    background-image: linear-gradient(45deg,rebeccapurple, pink);    
    color:white;
    /* margin:80px 0px ; */
    width: 150px;
    position: absolute;
    bottom: 5%;
    right: 5%;
    font-size: 0.9rem;
    position: absolute;
    /* top:45%; */
    z-index:2;
    /* transform:translateY(270px) */

}
.add-new-card.middle{
    /* transform:translateY(0)     */
    /* position: absolute;
    top:45%;
    left:50%; */
    position: absolute;
    right:calc(50% - 50px);
    bottom: 45vh;
    /* align-self: center; */
    transform: translate(50px);
    z-index:0;
    animation: scaling 2s infinite ;
    
}

@keyframes scaling{
    0%{
        transform: scale(1);
    }
    50%{
        transform: scale(1.2);
    }
    100%{
        transform: scale(1);
    }

}
.add-new-card:hover{
    background-image: linear-gradient(45deg,rgba(102, 51, 153, 0.913), rgba(249, 175, 189, 0.478));    
}