@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');

*{
    box-sizing: border-box;
}
body{
    font-family:'Lato', 'sans-serif';
    background-color: white;
    height: 100vh;
    overflow: hidden;
    margin: 0;
}

/* for the flexbox */
body,.people,.person,.rank,.right-drag,.dashes{
    display: flex;
    align-items: center;
    /* justify-content: center; */
    flex-direction: column;
}

.people{
    width: clamp(300px,350px, 400px);
    margin-top: 2rem;
}

.person{
    width: 100%;
    height:4rem;
    flex-direction: row;
    justify-content: space-between;
    border:1px solid rgba(128, 128, 128, 0.223);
}
.rank{
    width: 4rem;
    height: 100%;
    justify-content: center;
    background-color: rgba(128, 128, 128, 0.53);
    font-size: 2rem;
}
.right-drag{
    width: calc(100% - 4rem);
    flex-direction: row;
    justify-content: space-between;
    padding: 0px 1rem;
    cursor: pointer;
    height: 100%;
}

.right-drag.drag{
    border: 1px dashed grey;
}
.name{
    font-size: 1.1rem;
}

.dashes{
    position: relative;
}
.dashes i{
    /* margin-bottom: 0; */
    max-height: 5px;
    transform: translateY(-100%);
    /* align-items: flex-start; */
}

.btn{
    border: none;
    background-color: rgba(128, 128, 128, 0.53);
    margin-top: 1rem;
    font: inherit;
    padding: 10px 20px;
    cursor: pointer;
}
.btn:hover{
    background-color: rgba(128, 128, 128, 0.43);
}