@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;700&display=swap');

*{
    box-sizing: border-box;
}

/* For flexbox */
body,.container,.dashes,.dash,.popup,.gameover,.image{
    display: flex;
    align-items: center;
    justify-content: center;

}
body{
    font-family:'Ubuntu', 'sans-serif';
    background-color: white;
    align-items: flex-start;
    height: 100vh;
    overflow: hidden;
    margin: 0;
    /* background-color:st; */
    background-image: linear-gradient(235deg, rgb(56, 43, 136),rgb(84, 158, 219));
    background-repeat: no-repeat;
    background-position: center center;
    /* background-attachment: fixed; */

    color: white;
}

.container{
    flex-direction: column;
    justify-content: flex-start;
    position: relative;
    width: 100%;
    height: 100%;
}

.container.overlay::after{
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 1;
    background-color: rgba(0, 0, 0, 0.371);
}
.container h1{
    letter-spacing: 2px;
    margin-top: 2rem;

}

.image{
    /* justify-content: space-between; */
    align-items: flex-start;
    width: 100%;
    margin-top: 3rem;
    /* transform: translate(-50%); */

}
.figure-container{
    fill: transparent;
    stroke: white;
    stroke-width: 4px;
    stroke-linecap: round;
}
.figure-part{
    display: none;
}
.figure-part.show{
    display: block;
}
.image img{
    width: 30vh;
}
.wrong{
    padding: 10px 0px;
}

.dashes i{
    font-size: 3rem;
}

.dash{
    /* display: block; */
    margin: 0.3rem;
    font-size: 1.3rem;
    font-weight: bolder;
    width: clamp(1rem,1.2rem,1.5rem);
    height: 1.5rem;
    border-bottom: 4px solid black;
}

.letter{
    opacity: 0;
    /* display: none; */
}
.letter.active{
    opacity: 1;
}
.dashes.complete-word{
    
    font-size: 5rem;
    /* transition: font-size 0.5s ease; */

}


.container input{
    /* opacity: 0; */
    /* transform: translateY(100vh); */
}

.popup{
    position: absolute;
    bottom: -5px;
    /* transform: translateY(-50%); */
    background-color: rgb(54, 43, 124);
    width: clamp(10rem,20rem,90vw);
    height: 4rem;
    border-radius: 10px;
    letter-spacing: 0.7px;
    transform: translateY(100%);
    transition: transform 0.5s ease;
}
.popup.active{
    transform: translateY(0%);
}

.gameover{
    flex-direction: column;
    width: clamp(15rem,25rem,90vw);
    height: 15rem;
    padding: 0 1rem;
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background-image: linear-gradient(45deg, rebeccapurple,blueviolet);
    border-radius: 10px;
    letter-spacing: 1px;
    opacity: 0;
    transition: opacity 0.5s ease;
    position: absolute;
    z-index: 3;
}
.gameover.active{
    opacity: 1;
}

.btn{
    width: 40%;
    height: 50px;
    font:inherit;
    border-radius: 10px;
    background-image: linear-gradient(45deg, aqua, aquamarine);
    font-size: 1.3rem;
    letter-spacing: 1px;
    cursor: pointer;
    border: none;
}
.btn:hover{
    background-image: linear-gradient(45deg, rgba(0, 255, 255, 0.697), rgba(127, 255, 212, 0.632));
}
.btn:active{
    transform: scale(0.98);
}
.btn:focus{
    outline: none;
}